<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <link rel="stylesheet" th:href="@{/css/boardDetail.css}">
</head>
<div layout:fragment="content" class="container-md">
    <h3 id="h3">Board Detail Page!!</h3>
    <hr>
    <th:block th:with="boardVO=${boardDTO.bvo}">

        <!--/* 본문/수정페이지의 input 태그 */-->
        <form action="/board/modify" method="post" enctype="multipart/form-data" id="modForm">
            <div class="mb-3">
                <label for="bno" class="form-label">No</label>
                <span class="badge text-bg-secondary">[[${boardVO.regDate}]]</span>
                <input type="text" class="form-control" id="bno" name="bno" th:value="${boardVO.bno}" readonly>
            </div>
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control" id="title" name="title" th:value="${boardVO.title }" readonly>
            </div>
            <div class="mb-3">
                <label for="writer" class="form-label">Writer</label>
                <input type="text" class="form-control" id="writer" name="writer" th:value="${boardVO.writer }" readonly>
            </div>
            <div class="mb-3" >
                <label for="content" class="form-label">Content</label>

                <!--/* 첨부파일 출력 라인 */-->
                <div class="midImg" style="display:flex;">
                    <div th:each="fvo:${boardDTO.flist}" style="display: flex; flex-direction: column; align-items: center;">
                        <th:block th:if="${fvo.fileType>0}">
                            <img th:src="@{|/upload/${fvo.saveDir }/${fvo.uuid}_${fvo.fileName}|}" class="rounded" style="margin-right: 5px; width: 200px; height: 200px; object-fit: cover;">
                            <button type="button" class="btn btn-outline-secondary btn-sm file-x" th:data-uuid="${fvo.uuid}" style="width: 50px; margin-top: 5px;" disabled="disabled">삭제</button>
                        </th:block>
                    </div>
                </div>

                <div>
                    <div th:each="fvo:${boardDTO.flist}">
                        <ul th:unless="${fvo.fileType>0}" class="list-group list-group-flush">
                            <li class="list-group-item">
                                💾 [[${fvo.fileName}]]
                                <button type="button" class="btn btn-outline-secondary btn-sm file-x" th:data-uuid="${fvo.uuid}" style="width: 50px;" disabled="disabled">삭제</button>
                            </li>
                        </ul>
                    </div>
                </div>

                <textarea class="form-control" name="content" id="content" rows="3" style="margin-top: 10px;" readonly>[[${boardVO.content }]]</textarea>
            </div>

            <!-- 첨부파일 입력 라인 추가 -->
            <div class="mb-3">
                <input type="file" class="form-control" name="files" id="file" multiple="multiple" style="display:none">
                <label class="input-group-text" for="file" style="display:none"></label>
                <button type="button" class="btn btn-secondary file-up" id="trigger" disabled="disabled">첨부파일</button>
            </div>
            <!-- 추가한 첨부파일 표시 라인 추가 -->
            <div class="mb-3" id="fileZone"></div>

            <!--/* Detail 페이지에서 보여질 버튼들! */-->
            <button type="button" id="listBtn" class="btn btn-secondary btn-sm">목록</button>
            <!--/* detail에서 modify 상태로 변경하기 위한 버튼 */-->
            <button type="button" id="modBtn" class="btn btn-secondary btn-sm">수정</button>
            <button type="button" id="delBtn" class="btn btn-secondary btn-sm">삭제</button>
        </form><br><br>

        <!--/* 댓글 입력 */-->
        <div class="input-group mb-3">
            <span class="input-group-text" id="cmtWriter">테스터</span>
            <input type="text" class="form-control" id="cmtText" placeholder="Add Comment...">
            <button class="btn btn-outline-secondary" id="cmtAddBtn" type="button">등록</button>
        </div>

        <!--/* 댓글 출력 */-->
        <div class="container-md" id="cmtListArea"></div>

        <!--/* 더보기 버튼 */-->
        <div style="margin-left : 15px">
            <button class="btn btn-outline-secondary" id="moreBtn" type="button" th:data-page = "1" style="visibility:hidden">More +</button>
        </div>

        <!--/* 수정을 위한 모달창 */-->
        <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">writer</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <input type="text" class="form-control" id="cmtTextMod">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                        <button type="button" id="cmtModBtn" class="btn btn-primary">저장</button>
                    </div>
                </div>
            </div>
        </div>
        <script th:inline="javascript">
            const bnoVal = [[${boardVO.bno}]];
        </script>
    </th:block>
    <script th:src="@{/js/boardDetail.js}"></script>
    <script th:src="@{/js/boardRegister.js}"></script>
    <script th:src="@{/js/boardComment.js}"></script>
    <script th:inline="javascript">
        printCommArea(bnoVal);
    </script>
</div>