<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<div layout:fragment="content" class="container-md">
    <h3>Board Register page!!</h1>
    <hr>
    <form action="/board/register" method="post" enctype="multipart/form-data">
        <!--/* 일반 글 작성 */-->
        <div class="mb-3">
            <label for="t" class="form-label">title</label>
            <input type="text" class="form-control" name="title" id="t" placeholder="title..">
        </div>
        <div class="mb-3">
            <label for="w" class="form-label">writer</label>
            <input type="text" class="form-control" name="writer" id="w" placeholder="writer..">
        </div>
        <div class="mb-3">
            <label for="c" class="form-label">content</label>
            <textarea class="form-control" name="content" id="c" cols="10" rows="3" placeholder="content.."></textarea>
        </div>

        <!-- 첨부파일 입력 라인 추가 -->
        <div class="mb-3">
            <input type="file" class="form-control" name="files" id="file" multiple="multiple" style="display:none">
            <label class="input-group-text" for="file" style="display:none"></label>
            <button type="button" class="btn btn-secondary" id="trigger">첨부파일</button>
        </div>
        <!-- 첨부파일 표시 라인 추가 -->
        <div class="mb-3" id="fileZone"></div>

        <button type="submit" class="btn btn-secondary" id="regBtn">등록</button>
    </form>

    <script th:src="@{/js/boardRegister.js}"></script>
</div>