<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div th:fragment="header">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid container-md">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a th:href="@{/}" class="nav-link active" aria-current="page">Home</a>
                    </li>
                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <a th:href="@{/board/register}" class="nav-link">글쓰기</a>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{/board/list}" class="nav-link">목록</a>
                    </li>
                    <li class="nav-item" sec:authorize="isAnonymous()">
                        <a th:href="@{/user/register}" class="nav-link">회원가입</a>
                    </li>
                    <li class="nav-item" sec:authorize="isAnonymous()">
                        <a th:href="@{/user/login}" class="nav-link">로그인</a>
                    </li>
                    <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">
                      <a th:href="@{/user/list}" class="nav-link">유저목록</a>
                    </li>
                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <a th:href="@{/user/modify}" th:with="auth=${#authentication.getPrincipal()}" class="nav-link">
                            [[${auth.userVO.email}]]수정
                        </a>
                    </li>
                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <a th:href="@{/user/updateLastLog(username=${#authentication.name})}" class="nav-link">로그아웃</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <br>
</div>